{{ define "content" }}
<div class="blog-wrapper">
  <div>
    <div class="blog-list">
      {{ range .Paginator.Pages }}
        <article>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{/* 只有当不是首页时才显示摘要 */}}
          {{ if not .IsHome }}
            <div class="summary">{{ .Summary }}</div>
          {{ end }}
        </article>
      {{ end }}
    </div>
    {{ if gt .Paginator.TotalPages 1 }}
    <div class="paginator">
      {{ if .Paginator.HasPrev }}
      <a class="prev" href="{{ .Paginator.Prev.URL }}">&larr;&nbsp;&nbsp;Pre Page</a>
      {{ end }}
      {{ if .Paginator.HasNext }}
      <a class="next" href="{{ .Paginator.Next.URL }}">Next Page&nbsp;&nbsp;&rarr;</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
{{ end }}